<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Azure" connectionString="Server=tcp:flightproject.database.windows.net,1433;Initial Catalog=FlightProject;Persist Security Info=False;User ID=Hebas;Password=M1020304050s;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name ="MSSQLConnectionString" connectionString="Data Source = .; Database = FlightProject; Integrated Security = True; MultipleActiveResultSets = True"/>
  </connectionStrings>
  <appSettings>
    <add key="HOUR_VALUE" value="24"/>
    <add key="MINUTE_VALUE" value="0"/>
    <add key="SECOND_VALUE" value="0"/>
    <add key="RANDOM_USER_URL" value="https://randomuser.me/api"/>
    <add key="FLIGHT_YEAR_RANGE_MIN" value="2020"/>
    <add key="FLIGHT_YEAR_RANGE_MAX" value ="2022"/>
    <!--
      For flight year range the min value is inclusive and the max value is exclusive.
    -->
  </appSettings>
</configuration>